*.py[cod]

# C extensions
*.so

# pycharm
.idea/
.idea

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/source/generated
docs/source/modules/generated
docs/source/problems/generated

#VSCode
.vscode/
.vscode

# Cookiecutter
output/

# Experimental features
relnet/experimental/
relnet/experimental